* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0f0f11;
}

.navbar {
    background: #e0ff4f;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.navbar a {
    color: #050505;
    text-decoration: none;
    padding: 15px 30px;
    margin: 0 10px;
    font-weight: bold;
    font-size: 24px;
}

.navbar a:hover {
    background: #ECFF99;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.content {
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
    color: #f2f5f3;
}

.content img {
    width: 30%;
    display: block;
    margin: 0 auto;
    float: right;
}

.text-content {
    font-size: 20px;
    color: white;
    width: 50%;
    text-align: left;
    margin-left: 2vmax;
    margin-top: 5vmax;
}

.text-content span.hi {
    color: white;
    font-weight: bold;
    font-size: 3vmax;
}

.text-content span.name {
    color: #e0ff4f;
    font-weight: bold;
    font-size: 6.5vmax;
}

.text-content span.thrdLine {
    color: white;
    font-weight: bold;
    font-size: 3vmax;
}

.text-content span.D {
    color: #e0ff4f;
    font-weight: bold;
    font-size: 3vmax;
}

.image-link img {
    width: 4vmax;
    transition: transform 0.3s, opacity 0.3s;
    text-align: left;
    margin-left: 3.5vmax;
    margin-top: 2vmax;
}

.image-link:hover img {
    transform: scale(1.5); 
    opacity: 0.8;
}

.marquee-wrapper {
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
}

.marquee-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    background: #0f0f11;
    padding: 10px 0;
    width: 100%;
}

.marquee-content {
    display: flex;
    width: max-content;
    animation: marquee-scroll 10s linear infinite;
}

.marquee-content img {
    height: 60px;
    margin-right: 3%;
}

@keyframes marquee-scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.about-me {
    text-align: center;
    margin-top: 5vmax;
}

.headingA {
    color: white;
    font-weight: bold;
    font-size: 3.5vmax;
}

.headingA span.A {
    color: #e0ff4f;
    font-weight: bold;
    font-size: 3.5vmax;
}

b {
    color: #e0ff4f
}

.heading-data {
    text-align: justify;
    color: white;
    margin-top: 2vmax;
    margin-left: 5.5vmax;
    margin-right: 5.5vmax;
    padding: 0 3vmax  ;
    font-size: 1.2vmax;
    line-height: 2vmax;
}

.experience {
    text-align: center;
    margin-top: 5vmax;
    margin-bottom: 3vmax;
}

.headingE {
    color: white;
    font-weight: bold;
    font-size: 3.5vmax;
}

.headingE span.E {
    color: #e0ff4f;
    font-weight: bold;
    font-size: 3.5vmax;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 5px;
    background-color: #e0ff4f;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -2px;
}

.timeline-item {
    padding: 20px;
    position: relative;
    width: 50%;
    background-color: rgb(61, 61, 61);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.timeline-item:nth-child(odd) {
    left: 0;
}

.timeline-item:nth-child(even) {
    left: 50%;
}

.timeline-dot {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #e0ff4f;
    border-radius: 50%;
    top: 25px;
    left: calc(100% + 5px);
}

.timeline-item:nth-child(even) .timeline-dot {
    left: -18px;
}

h2 {
    color: #e0ff4f;
    margin-bottom: 0.5vmax;
}

h3 {
    color: white;
    margin-bottom: 1.5vmax;
}

ul {
    color: white;
    line-height: 1.2vmax;
}

.tech {
    text-align: center;
    margin-top: 5vmax;
    margin-bottom: 3vmax;
}

.headingT {
    color: white;
    font-weight: bold;
    font-size: 3.5vmax;
}

.headingT span.T {
    color: #e0ff4f;
    font-weight: bold;
    font-size: 3.5vmax;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    width: 80%;
    max-width: 1000px;
    aspect-ratio: 1 / 1;
    background: #0f0f11;
    padding: 10px;
    margin: 0 auto;
}

.quadrant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border: 5px solid #e0ff4f;
    border-radius: 10px;
    background: rgb(61, 61, 61);
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.quadrant:hover {
    transform: scale(1.1); 
    opacity: 1;
}

.quadrant img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 2vmax;
    margin-right: 0.8vmax;
}

.box-heading {
    color: #e0ff4f;
    margin-bottom: 3vmax;
    text-align: center;
}
