* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0f0f11;
}

.navbar {
    background: #e0ff4f;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.navbar a {
    color: #050505;
    text-decoration: none;
    padding: 15px 30px;
    margin: 0 10px;
    font-weight: bold;
    font-size: 24px;
}

.navbar a:hover {
    background: #ECFF99;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.content {
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
    color: #f2f5f3;
}

.content img {
    width: 30%;
    display: block;
    margin: 0 auto;
    float: right;
}

.text-content {
    font-size: 20px;
    color: white;
    width: 50%;
    text-align: left;
}

.text-content span.hi {
    color: white;
    font-weight: bold;
    font-size: 50px;
}

.text-content span.name {
    color: #e0ff4f;
    font-weight: bold;
    font-size: 100px;
}

.marquee-wrapper {
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
}

.marquee-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    background: #0f0f11;
    padding: 10px 0;
    width: 100%;
}

.marquee-content {
    display: flex;
    width: max-content;
    animation: marquee-scroll 10s linear infinite;
}

.marquee-content img {
    height: 60px;
    margin-right: 3%;
}

@keyframes marquee-scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}